/* Master */

@font-face { font-family: 'Gill Sans Nova'; src: url('fonts/gill-sans-nova/Monotype\ \ -\ Gill\ Sans\ Nova\ Medium.ttf'); } 
@font-face { font-family: 'Gill Sans Nova Light'; src: url('fonts/gill-sans-nova/Monotype\ \ -\ Gill\ Sans\ Nova\ Light.ttf'); } 
@font-face { font-family: 'Gill Sans Nova Bold'; src: url('fonts/gill-sans-nova/Monotype\ \ -\ Gill\ Sans\ Nova\ SemiBold.ttf');}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Gill Sans Nova Bold';
}

h2 {
    font-family: 'Gill Sans Nova';
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navbar */

li, a, button {
    font-family: 'Gill Sans Nova';
    color: rgb(117, 117, 117);
    font-size: 20px;
    text-decoration: none !important;
}

nav {
    padding-right: 20px;
}

button {
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 8%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
    font-size: 0;
}

.nav_links li {
    display: inline-block;
    flex-direction: row;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: black;
}

button {
    padding: 9px 25px;
    background-color: #9c47e9;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #801edb;
}

/* Hero */

.hero {
    position: relative;
    text-align: center;
}

.bg {
    position: relative;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}

.hero-text {
    color: white;
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    white-space: nowrap;
    overflow: hidden;
}

.boxed {
    text-align: right;
    position: relative;
    background: white;
    margin-right: 38%;
    margin-left: 38%;
    padding: 3rem;
    bottom: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxed-text-1 {
    font-size: 6em;
}

.boxed-text-2 {
    font-size: 3em;
    font-family: 'Gill Sans Nova';
}

.boxed-2 {
    bottom: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icons {
    width: 110px;
    height: auto;
    transition: all 0.3s ease 0s;
}

.icons:hover {
    filter: brightness(75%);
}

.icon-1 {
    position: relative;
    bottom: 39%;
    right: 30%;
}

.icon-2 {
    position: relative;
    bottom: 34%;
    right: 25%;
}

.icon-3 {
    position: relative;
    bottom: 31%;
    right: 16%;
}

.icon-6 {
    position: relative;
    bottom: 40%;
    left: 30%;
}

.icon-5 {
    position: relative;
    bottom: 35%;
    left: 23%;
}

.icon-4 {
    position: relative;
    bottom: 31%;
    left: 16%;
}